 
<div class="header-title-com container-fluid gradient-bg">
    <div class="row">

        <a href="../Admin/dashboard"><i class="fas fa-home i_test" ></i></a>
        <a href="#" class="title-heding-col ">
            <h6>All Test Entry</h6>
        </a>



    </div>
</div>
<div class="p-5">
    <div class="card card-custom pr-5 pl-5 pb-5 gutter-b example example-compact">

        <!--<div class="card-header">

        </div>-->
        <!--begin::Form-->
        <form autocomplete="off" class="form">

            <fieldset>
                <legend>Lable Group Master</legend>

                <div class="row" style="margin: 0px; padding: 0px;">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-10 col-lg-10">

                                <label>Enter A Group Name </label>
                                <br />
                                <input type="text" class="form-control-sm form-control" />

                            </div>

                            <div class="col-md-2  col-lg-2">

                                <label>Prefix </label>
                                <br />
                                <input type="text" class="form-control-sm form-control" />

                            </div>
                        </div>


                        <div class="border mt-2" style="overflow: auto; height: 300px;">


                            <!--<div class="demo-tab-content" style="height: 230px; overflow: auto;">
                                <div class="checkbox-list">
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        ANTI MICROSOMAL ANTIBODY (AMA)
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" checked="checked"
                                                                            name="Checkboxes4" />
                                                                        <span></span>
                                                                        ALPHA FETO PROTEINS
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        BLOOD SUGAR 2 HOURS AFTER 50 gms OF GLUCOSE
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        BT CT
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        BLOOD SUGAR FOR FASTING
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        BLOOD SUGAR FOR RANDOM
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        C.S.F. EXAMINATION
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        BLOOD GROUP
                                                                    </label>
                                    <label class="checkbox">
                                                                        <input type="checkbox" name="Checkboxes4" />
                                                                        <span></span>
                                                                        CBC / ESR / MP
                                                                    </label>
                                </div>
                            </div>-->
                            <div class=" table table-responsive ">
                                <table class="table table-striped ">
                                    <thead>
                                        <tr>
                                            <th class=" font-weight-bold align-text-top " scope="col "><input type="checkbox"></th>
                                            <th class=" font-weight-bold align-text-top " scope="col ">Lable Group</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Appendix</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" >edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Bone Joints</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Bone Marrow aspirate</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Oral nasal laryngeal</td>

                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Fallopian tube, Vas</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Endometrium</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Cervix Vagina Vulva</td>

                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Cervicovaginal Pap smears</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Carcinoma</td>


                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row "><input type="checkbox"></th>
                                            <td>Breast lumps</td>

                                            <td>
                                                <button class="btn btn-sm"><mat-icon matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>





                        </div>

                        <!--<div class="row">
                            <label class="checkbox">
                            <input type="checkbox" name="Checkboxes4" />
                            <span></span>
                            Show All
                        </label>
                        </div>-->
                        <div class="p-2">Selected Tests </div>
                        <div class="border mt-5">
                            <div class="form-group  p-2">

                                <div class="row " style="overflow: auto;">
                                    <diV class="col- demo-tab-content">
                                        BLOOD SUGAR 2 HOURS AFTER 50 gms OF GLUCOSE (1242)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a> , BT CT (1000), ANTI MICROSOMAL ANTIBODY (AMA) (1545)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, ANKLE JOINT AP/LAT (4567)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>, BARIUM I.C. JUNCTION (8789)
                                        <a class="btn btn-sm" style="padding: 1px;">
                                            <mat-icon>delete</mat-icon>
                                        </a>
                                    </diV>

                                </div>
                            </div>

                        </div>



                    </div>




                </div>




                <div class="row ml-4">
                    <button type="reset" class="btn btn-primary mr-2">Done</button>
                    <button type="reset" class="btn btn-primary mr-2">Cancel</button>
                    <!--<button type="reset" class="btn btn-primary mr-2">Save & New</button>-->
                </div>
            </fieldset>
        </form>
        <!--end::Form-->
    </div>
</div>