fieldset {
    border: 1px solid #ccc;
}

legend {
    color: #151515;
    padding: 3px 10px;
    width: auto;
    margin-left: 25px;
    font-size: 16px
}

input {
    margin: 5px;
}

.mat-tab-labels {
    background: #fdb2552e !important;
}

.mat-tab-body-content {
    padding-top: 1px !important;
}

.angular-editor-toolbar {
    font: 100 1.2rem/15px Roboto, Arial, sans-serif !important;
}

.angular-editor-textarea {
    min-height: 388px !important;
}

.select-th {
    padding: 10px;
    width: 100%;
    text-align: left;
}

.SelectRow {
    background-color: #3699ff24;
    ;
}

.table-responsive {
    height: 350px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1em !important;
}

.mat-tab-labels {
    background: #ffb94f36;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ff761c;
}

.angular-editor-toolbar {
    font: 100 1.8rem/16px !important;
    background-color: #f5f5f5;
    padding: 0.2rem;
    border: 1px solid #ddd;
}

.i_test {
    padding: 7px 1px 0;
    color: #1a1a27;
}

.right-title-details {
    padding: 6px;
    color: #fff;
    text-align: right;
}

// .gradient-bg {
//     background: linear-gradient(to right, #ffc837, #ff8008);
// }
.title-heding-col {
    padding: 7px 18px 0;
    color: #1a1a27;
}

.gradient-head-bg {
    background: linear-gradient(to right, #141e30, #243b55);
}

.angular-editor-toolbar {
    font: 100 20px/15px Roboto, Arial, sans-serif !important;
    background-color: #f5f5f5;
    padding: 0.2rem;
    border: 1px solid #ddd;
}