<div class="p-5">
    <div class="card card-custom pr-5 pl-5 pb-5 gutter-b example example-compact">

        <!--<div class="card-header">
            <b class="card-title">Create Doctor</b>
        </div>-->
        <!--begin::Form-->
        <form autocomplete="off" class="form">
            <fieldset class="p-5">
                <legend>Add Profile</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <div class="col-md-12  col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Test Type </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Test Name </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12  col-lg-12">
                                <div class="row">
                                    <div class="col">
                                        <label>Report Heading </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                    <div class="col">
                                        <label>Test Category </label>
                                        <br />
                                        <select class="form-control" id="exampleSelect1">
                                            <option>Select</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12  col-lg-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Print Format </label>
                                        <br />
                                        <select class="form-control" id="exampleSelect1">
                                            <option>Select</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Lumsum Comm </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Rate </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12  col-lg-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Alias </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Test Cost </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                    <div class="col-md-4">
                                        <label>% Comm </label>
                                        <br />
                                        <input type="text" class="form-control-sm form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12  col-lg-12">
                                <div class="row p-4">

                                    <div class="col-6 border p-3">
                                        <h4>Available Tests List </h4>
                                        <hr>
                                        <div class="checkbox-list">

                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                ANTI MICROSOMAL ANTIBODY (AMA)
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" checked="checked" name="Checkboxes4" />
                                                <span></span>
                                                ALPHA FETO PROTEINS
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                BLOOD SUGAR 2 HOURS AFTER 50 gms OF GLUCOSE
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                BT CT
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                BLOOD SUGAR FOR FASTING
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                BLOOD SUGAR FOR RANDOM
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                C.S.F. EXAMINATION
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                BLOOD GROUP
                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox" name="Checkboxes4" />
                                                <span></span>
                                                CBC / ESR / MP
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6 border p-3">
                                        <h4>Selected Tests </h4>
                                        <hr>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label>Test Comments </label>
                                        <br />
                                        <textarea _ngcontent-kpk-c375="" rows="3" class="form-control-sm form-control">                    </textarea>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-3"></label>
                                        <label class="checkbox">
                                            <input type="checkbox" 
                                                name="Checkboxes4" />
                                            <span style="margin-right: 5px;"></span>
                                            Active/Inactive
                                        </label>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-12  col-lg-12">
                                        <div class="row" style="padding-bottom: 5px;">
                                            <div class="col-md-6" style="padding-left: 28px;">
                                                <button type="submit" class="btn btn-primary mr-5">Done</button>
                                                <button class="btn btn-secondary">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </fieldset>
        </form>
        <!--end::Form-->
    </div>
</div>