<div class="header-com container-fluid gradient-head-bg">
    <div class="row">
        <div class="col-8" style="padding: 6px"><img _ngcontent-tgp-c388="" alt="Logo" src="./assets/media/logos/small-logo.png"></div>
        <div class="col-md-4 right-title-details">
            <span> Welcome {{this.UserName}}</span> &nbsp;<span style="font-size: 10px;">{{this.greet }}</span><br>
            <span>  {{this.myDate | date:'dd-MM-yyyy'}}  </span> &nbsp; <span>  {{this.myDate | date:'h:mm a' }} </span>
        </div>
    </div>
</div>