.header-com {
    background: #1a1a27;
    margin-bottom: 0px;
}

.header-title-com {
    background: #f0ed64;
}

.card.card-custom>.card-body {
    padding: 0rem 2.25rem;
}

.btn.btn-success {
    color: #ffffff;
    background-color: #3699ff;
    border-color: #3699ff;
}

.content {
    padding: 7px 0;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.card.card-custom .card-body {
    padding: 0rem 0.25rem;
}

.form-control-sm {
    height: 28px;
}

.test-name-col {
    color: #8e50f1;
}

.field-name-col {
    color: #f16e11;
    ;
}

.selectedRow a {
    font-weight: bold;
}

.selectedRow {
    background: #59b9fd8c;
    font-weight: bold;
}

.form-control-md {
    height: 40px;
}

.icon-nm {
    font-size: 0.9rem !important;
    color: #f73131;
}