<div class="card card-custom">

    <div class="row card-header flex-wrap pt-6 pb-0">
        <div class="card-title">
            <h3 class="card-label">Permanent Patient List </h3>
        </div>
        <div class="card-toolbar mb-2" style="text-align: right;">
            <!--begin::Button-->
            <a class="btn btn-primary font-weight-bolder" href="Admins/#">
                <span class="svg-icon svg-icon-md">
                        <!--begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Design/Flatten.svg-->
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                            height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <circle fill="#000000" cx="9" cy="15" r="6"></circle>
                                <path
                                    d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z"
                                    fill="#000000" opacity="0.3"></path>
                            </g>
                        </svg>
                        <!--end::Svg Icon-->
                    </span>Add</a>
            <!--end::Button-->
        </div>
    </div>


    <div class="card-body " style="background: #fff; ">

        <div class="kt-portlet__body card card-custom ">
            <form>
                <!--begin::Search Form-->
                <div class="mb-7">
                    <div class="row align-items-center">
                        <div class="col-lg-9 col-xl-8">
                            <div class="input-icon">
                                <input type="text" class="form-control" id="kt_datatable_search_query">
                                <span>
                                        <i class="flaticon2-search-1 text-muted"></i>
                                    </span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xl-4 mt-5 mt-lg-0">
                            <a class="btn btn-light-primary px-6 font-weight-bold">Search</a>
                        </div>
                    </div>
                </div>
                <!--end::Search Form-->
            </form>
            <div class=" table table-responsive ">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th class=" font-weight-bold align-text-top " scope="col "><input type="checkbox"></th>
                            <th class=" font-weight-bold align-text-top " scope="col ">Patient No</th>
                            <th class=" font-weight-bold align-text-top " scope="col ">Name</th>
                            <th class=" font-weight-bold align-text-top " scope="col ">Address</th>
                            <th class=" font-weight-bold align-text-top " scope="col ">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Appendix</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font" >edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Bone Joints</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Bone Marrow aspirate</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Oral nasal laryngeal</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Fallopian tube, Vas</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Endometrium</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Cervix Vagina Vulva</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Cervicovaginal Pap smears</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Carcinoma</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row "><input type="checkbox"></th>
                            <td>Breast lumps</td>
                            <td>Appendix</td>
                            <td>Appendix</td>

                            <td>
                                <button _ngcontent-pup-c386="" class="btn btn-sm"><mat-icon _ngcontent-pup-c386="" matTooltip="Edit" role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">edit</mat-icon></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>



        <!-- <h4 *ngIf="this.EmployeeList[0]==null ">No Data Available</h4> -->
        <!-- <div *ngIf="EmployeeList[0] !=null " class="kt-pagination kt-pagination--brand ">
                <ul class="kt-pagination__links ">
                    <li *ngIf="this.pageField.length < paginationService.exactPageList "
                        class="kt-pagination__link--prev ">
                        <a (click)="showPrevEmployees() "
                            [ngClass]="(paginationService.showNoOfCurrentPage==1)? 'notAllowed': 'kt-font-brand' "><i
                                class="fa fa-angle-left kt-font-brand "></i></a></li>
                    <li *ngFor="let page of pageField;let i=index "
                      >
                        <a  [ngClass]="pageNumber[i] ? 'kt-pagination__link--active': '' " (click)="showEmployeesByPageNumber(page,i) " style="cursor: pointer; ">{{page}}</a>
                    </li>
                    <li *ngIf="this.pageField.length < paginationService.exactPageList "
                        class="kt-pagination__link--next "><a (click)="showNextEmployees() "
                            [ngClass]="(paginationService.disabledNextBtn)? 'notAllowed': 'kt-font-brand' "><i
                                class="fa fa-angle-right kt-font-brand "></i></a> </li>
                </ul>
                <div class="kt-pagination__toolbar ">
                    <div class="pagination__desc ">Page <span class="kt-font-bold ">{{currentPage}}</span> of
                        <span class="kt-font-bold ">{{paginationService.exactPageList}}</span></div>
                </div>
            </div> -->

        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="d-flex flex-wrap py-2 mr-3">

                <a href="#" class="btn btn-icon btn-sm border-0 btn-light btn-hover-brand mr-2 my-1 active">Prev</a>

                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">23</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light btn-hover-primary active mr-2 my-1">24</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">25</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">26</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">27</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">28</a>
                <a href="#" class="btn btn-icon btn-sm border-0 btn-light mr-2 my-1">...</a>

                <a href="#" class="btn btn-icon btn-sm border-0 btn-light btn-hover-brand mr-2 my-1 active">Next</a>

            </div>
            <div class="d-flex align-items-center py-3">
                <span class="text-muted">Displaying 10 of 230 records</span>
            </div>
        </div>
    </div>

</div>