th,
td {
    vertical-align: middle !important;
}

.pagination {
    display: contents;
    padding-left: 0;
    list-style: none;
    border-radius: 0.42rem;
}

.table-responsive {
    overflow-x: hidden;
}