.testList {
    height: 90px;
    width: 100%;
    padding-left: 16px;
}

.demo-tab-content {
    height: 179px;
    overflow: hidden;
    padding: 1px;
}

tbody {
    display: block;
    overflow: auto;
    height: 129px;
    width: 100%;
}

thead tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

tbody {
    overflow-y: scroll;
    width: 100% !important;
}

.b-bg-tab {
    background: #fff1;
}

.testTable {
    height: 250px;
}

.mat-tab-label {
    height: 40px !important;
}

.mat-tab-labels {
    background-color: #ffc36a3b;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 1.25em;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-icon-button,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    width: 2.5em;
    height: 2.5em;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
}

.mat-cell {
    padding: 0px 10px;
    vertical-align: middle;
}

.mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 20px 10px;
    line-break: unset;
    width: 100%;
    vertical-align: middle;
}

.card.card-custom>.card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-height: auto;
    margin-bottom: 20;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

.form .form-group {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.row {
    padding: 3px;
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: unset;
    padding: 0;
    border-radius: 4px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    padding-right: 8px;
    padding-left: 8px;
}

mat-cell {
    height: 10px;
}

small,
.small {
    word-break: break-all;
}

table {
    width: 100%;
}

fieldset {
    border: 1px solid #ccc;
    margin: 10px;
}

legend {
    color: #151515;
    padding: 3px 10px;
    width: auto;
    margin-left: 25px;
    font-size: 16px
}

input {
    margin: 5px;
}

#my-app {
    display: block;
    box-sizing: border-box;
    padding: 5px;
}

#my-app>.k-icon.k-i-loading {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    padding-bottom: 5px;
}

.example-config {
    margin: 0 0 5px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .03);
    border: 1px solid rgba(0, 0, 0, .08);
}

.event-log {
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, .08);
    background-color: #fff;
}

.event-log li {
    margin: 0;
    padding: .3em;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.event-log li:last-child {
    margin-bottom: -1px;
}

mat-autocomplete-panel {
    width: 200px;
    top: 113.263px;
    left: 46.75px;
}

.card.card-custom .card-body {
    padding: 0rem 0.25rem;
}

.content {
    padding: 1px 0;
    height: 679px;
}

.mat-tab-label {
    height: 48px;
    min-width: 100px;
}

.mat-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    transition: height 500ms cubic-bezier(0.35, 0, 0.25, 1);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
}

.mat-form-field-wrapper {
    padding: 0;
}

.col-form-label {
    line-height: 0.5;
}

.form-control-sm {
    height: 28px;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.2375em 0;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ff8e22;
}

.footer-fixed .content {
    padding-bottom: 1px;
}

.i_test {
    padding: 7px 1px 0;
    color: #1a1a27;
}

.right-title-details {
    padding: 6px;
    color: #fff;
    text-align: right;
}

// .gradient-bg {
//     background: linear-gradient(to right, #ffc837, #ff8008);
// }
.title-heding-col {
    padding: 7px 18px 0;
    color: #1a1a27;
}

.gradient-head-bg {
    background: linear-gradient(to right, #141e30, #243b55);
}