<div style="background-image: url(/assets/media/logos/bg-12.jpg); height: 100%; width: 100%; background-size: cover;">
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid">
                <div class="login-form text-center text-black p-7 position-relative overflow-hidden" style="background: #fafafa91; margin-top: 10%; border-radius: 10px; border: solid 1px #fff;">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-2">
                        <a href="#">
                            <img src="/assets/media/logos/logo-dark.png" class="max-h-100px" alt="">
                        </a>
                    </div>
                    <!--end::Login Header-->
                    <!--begin::Login Sign in form-->
                    <div class="login-signin">
                        <div class="mb-7">
                            <h3>Sign In To My Lab </h3>
                            <!-- <p class="opacity-60 font-weight-bold">Enter your details to login to your account:</p> -->
                        </div>
                        <form class="form fv-plugins-bootstrap fv-plugins-framework" [formGroup]="FormData" id="kt_login_signin_form" novalidate="novalidate">
                            <div class="form-group fv-plugins-icon-container">
                                <input class="form-control h-auto text-black placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="text" placeholder="Email" name="username" autocomplete="off" formControlName="UserName">
                                <div class="fv-plugins-message-container"></div>
                            </div>
                            <div class="form-group fv-plugins-icon-container">
                                <input class="form-control h-auto text-black placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" type="password" placeholder="Password" name="password" formControlName="Password">
                                <div class="fv-plugins-message-container"></div>
                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8">
                                <div class="checkbox-inline">
                                    <label class="checkbox checkbox-outline checkbox-white text-black m-0">
                                    <input type="checkbox" name="remember">
                                    <span></span>Remember me</label>
                                </div> &nbsp;&nbsp;&nbsp;
                                <a href="javascript:;" id="kt_login_forgot" class="text-black font-weight-bold">Forget Password ?</a>
                            </div>
                            <div class="form-group text-center mt-10">
                                <button id="kt_login_signin_submit" (click)="btnClick();" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Sign In</button>
                            </div>
                            <input type="hidden">
                            <div></div>
                        </form>
                        <div class="mt-10">
                            <span class="opacity-70 mr-4">Don't have an account yet?</span>
                            <a href="javascript:;" id="kt_login_signup" class="text-black font-weight-bold">Sign Up</a>
                        </div>
                    </div>
                    <!--end::Login Sign in form-->


                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
</div>